body {
  min-height: 250vh;
  font-family: "Merriweather", serif;
}

a {
  text-decoration: none;
}

/* Everything is inside this box that is inside the body */

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section {
  transition: transform 1s, opacity 1s;
}

/* -------------------------------- */

.everything {
  border-bottom: 1px solid rgb(12, 185, 216);
  background: rgb(148, 218, 233);
}

/* Scrollbars  */

/* --------------------------- */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(13, 198, 231, 0.637);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(12, 159, 204, 0.767);
}

/* -------------------------------------------- */

/* Navbar */

.navbar {
  background-color: rgba(21, 162, 209, 0.644);
  /* background-color: #3ed2f780; */
  border-radius: 1px;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,220,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  font-size: 23px;
  color: #ffffff;
  font-family: "Satisfy", cursive;
  margin-right: 15px;
  margin-left: 15px;
}
.nav-link:hover {
  color: rgb(25, 120, 184);
  letter-spacing: 0.5px;
  transition: 0.3s;
}

/* ---------------------------------- */

/* Header and its components */

header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1448317846460-907988886b33?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-bottom: 1px solid white;
}

.mainheading {
  color: rgb(21, 162, 209);
  letter-spacing: 0.5rem;
  font-size: 12rem;
  font-weight: 500;
  font-family: "Satisfy", cursive;
}

/* ------------------------------------------- */

/* First box with paragraf and NYC seal */

/* NYC seal */

#desappear2 {
  background-image: url(/nyc-seal-blue2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
}

/* Wather and clock */

.wthr {
  margin-bottom: 50px;
}

#wather {
  border-top: 1px solid white;

  padding-top: 70px;
  background: rgb(49, 167, 201);
  background: linear-gradient(
    90deg,
    rgba(49, 167, 201, 1) 0%,
    rgba(190, 230, 252, 1) 51%,
    rgba(49, 167, 201, 1) 100%
  );
}

#weather {
  display: flex;
  flex-direction: column;
}

#hourLink {
  color: rgba(8, 113, 155, 0.774);
  text-decoration: none;
  font-family: "Satisfy", cursive;
  font-size: 29px;
}

/* Div with text */

.paragrafDiv {
  color: rgba(31, 130, 196, 0.897);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  height: 450px;
  margin: 0;
  overflow: auto;
  display: flex;
  align-items: center;
  font-family: "Satisfy", cursive;
  padding: 20px;
}

/* ----------------------------- */

/* angled divs DAY and NIGHT */

.newsSection {
  border-bottom: 1px solid white;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
.h2headings {
  font-family: "Satisfy", cursive;
  font-size: 35px;
  font-weight: 600;
}

/* Night */

.figureNight {
  background-color: rgba(0, 0, 0, 0.623);
  margin-bottom: 0;
}
.secondHalf img {
  clip-path: polygon(100% 100%, 100% 0, 0 0, 0 90%);
  width: 100%;
}
.figureNight:hover {
  background-color: #00000059;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.night {
  font-weight: 500;
  color: rgb(11, 205, 219);
}
.captionTwo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Day */

.figureDay {
  background-color: rgb(185, 242, 247);
  margin-bottom: 0;
}

.hero img {
  clip-path: polygon(0% 0, 100% 0, 100% 90%, 0 100%);
  width: 100%;
}
.figureDay:hover {
  background-color: rgb(134, 190, 196);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.day {
  color: rgb(4, 144, 187);
  font-weight: 700;
}
.captionOne {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* --------------------------------- */

/* text section with quotes */

.underHeading2 {
  background-image: url(https://images.unsplash.com/photo-1466500419182-8602dc906b51?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80);
  background-position: bottom;
  border-bottom: 1px solid white;
}

.paragrafDivTwo {
  color: rgb(255, 255, 255);
  font-size: 6rem;
  letter-spacing: 5px;
  font-weight: 500;
  height: 450px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Satisfy", cursive;
}

/* #neverSleeps {
  position: relative;
  top: 70px;
} */

#b {
  quotes: "“";
}

/* ---------------------------------------- */

/* Part with 4 divs and angled div around them */

.promo {
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0 100%);
  margin-bottom: 100px;
}

.promo {
  background: rgb(49, 167, 201);
  background: linear-gradient(
    90deg,
    rgba(49, 167, 201, 1) 0%,
    rgba(190, 230, 252, 1) 51%,
    rgba(49, 167, 201, 1) 100%
  );
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  overflow: hidden;
  padding: 150px 20px;
  position: relative;
  text-align: center;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

/* Heading, visit places */

#btfPlaces {
  color: rgba(255, 255, 255, 0.99);
  font-family: "Satisfy", cursive;
  font-size: 45px;
  font-weight: 500;
  position: relative;
  top: -50px;
}

/* Section aroun everything */

#card-section {
  padding: 0;
}

/* All six cards NOT IN ORDER! Here they are in order but on the page numbers are mixed */

#cards {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cardOne {
  position: relative;
  top: -15px;
  width: 100%;
  height: 300px;
  background-image: url(https://images.unsplash.com/photo-1512872942423-e9877d94e902?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fG5ldyUyMHlvcmslMjBjZW50cmFsJTIwcGFya3xlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
}

.cardTwo {
  background-image: url(https://2o7fsh4anuayrnrhe3us6v71-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/ASIATE.jpg);
  background-position: center;
  background-size: cover;
}

.cardThree {
  background-image: url(https://images.unsplash.com/photo-1504913659239-6abc87875a63?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fG5ldyUyMHlvcmt8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60);
}
.cardFour {
  background-image: url(https://images.unsplash.com/photo-1599854171059-d91f0fee45cd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGJyb29rbHluJTIwYnJpZGdlfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.cardFive {
  background-image: url(https://images.unsplash.com/photo-1559128077-e1b85697bb58?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fGZpZnRoJTIwYXZlbnVlfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.cardSix {
  background-image: url(https://images.unsplash.com/photo-1549084415-a1b69bc0a4ac?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTR8fHN0YXR1ZSUyMG9mJTIwbGliZXJ0eXxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

/* Blue text under the cards */

.helloh3 {
  color: rgb(21, 162, 209);
  font-family: "Satisfy", cursive;
  font-size: 28px;
}

/* White text under the cards */

.whit {
  color: rgb(255, 255, 255);
  font-family: "Satisfy", cursive;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0px;
}

/* Part of the cards with text, this aligns them */

.top-new-paragraf {
  padding: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}

/* All h3, not sure what it does, check it! */
h3 {
  font-size: 20px;
  text-align: center;
}

/* ------------------------------- */

/* .hidden for javascript if needed */

/* .noneDisplay {
  display: none;
} */

/* ---------------------------------------- */

/* Icons and divs they are in */

/* Facebook, twitter, etc */

.firstBoxBig {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

.firstDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

/* icons */

.responsive-img {
  width: 70px;
}

/*---------------------------------------*/

/*---------- map------------ */
#mapid {
  height: 400px;
}

#where {
  position: relative;
  top: -43px;
  color: rgba(8, 142, 196, 0.99);
  font-size: 35px;
  margin-bottom: 25px;
  font-family: "Satisfy", cursive;
}
/* Google map */
.maps {
  align-items: center;
  margin-top: 100px;
}

#mapid {
  border: 1px solid white;
  margin-top: 25px;
  height: 315px;
  width: 100%;
  border-radius: 5px;
}

/* ----------------------------------------- */

/* Form and its parts */

.container-6 {
  margin-top: 70px;
}

.writeToUs {
  position: relative;
  top: -10px;
  font-size: 35px;
  margin-left: 0px;
  margin-bottom: 30px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

footer {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

#lastLink {
  margin-top: 150px;
  font-family: "Satisfy", cursive;
  text-decoration: none;
  color: rgb(8, 142, 196);
  font-size: 24px;
}

#lastLink:hover {
  color: rgb(7, 132, 185);
  letter-spacing: 1px;
  transition: 1s;
}

/* ------------------------------ */

/* media queries */ /* I have to organize this better*/

@media (max-width: 1200px) {
  .paragrafDiv {
    text-align: start;
    align-items: flex-start;
  }
  .nav-link {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 770px) {
  .helloh3 {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  .newsSection {
    flex-direction: column;
  }
  .news {
    width: 100%;
  }
  .america {
    border-right: none;
  }

  .world {
    border-left: none;
  }
  .responsive-img {
    width: 60px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .figureDay {
    margin-bottom: 0;
  }
  .figureNight {
    margin-bottom: 0;
  }
  .promo {
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  }
  .mainheading {
    color: rgb(46, 167, 194);
    letter-spacing: 0.5rem;
    font-size: 9rem;
  }

  .paragrafDiv {
    text-align: start;
    padding: 20px;
    /* align-items: flex-start; */
  }
  .firstDiv {
    margin-bottom: 35px;
  }

  #neverSleeps {
    font-weight: 500;
    font-size: 4rem;
    color: #ffffff;
  }
}

@media (max-width: 476px) {
  .container-6 {
    margin-top: 40px;
  }
}
@media (max-width: 350px) {
  .responsive-img {
    width: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
