body {
  min-height: 250vh;
  font-family: "Merriweather", serif;
  background-color: #ffffff96;
}

.everything {
  border-left: 1px solid #3ed2f7;
  border-right: 1px solid #3ed2f7;
  border-bottom: 1px solid #3ed2f7;
}

.navbar {
  background-color: #3ed2f7;
  border-radius: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,220,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  color: #000000;
  font-size: 25px;
}
.nav-link {
  font-size: 20px;
  color: #ffffff;
}
.nav-link:hover {
  color: rgb(5, 141, 151);
}

header {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-bottom: 1px solid rgb(2, 2, 2);
}
.mainImg {
  display: inline;
  width: 100%;
}

.mainheading {
  color: rgba(0, 0, 0, 0.822);
  letter-spacing: 2px;
  font-size: 5rem;
  font-weight: 400;
}

/* section with top news */
/* ******************************** */

.liveNews {
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
  color: black;
  font-size: 35px;
  font-weight: 600;
}

.newsSection {
  border: 2px solid black;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.news {
  min-height: 60vh;
  width: 50%;
}

.america {
  border-right: 1px solid black;
}

.world {
  border-left: 1px solid black;
}

.newsh3 {
  text-align: center;
  font-size: 22px;
  color: red;
  font-weight: 300;
  background-color: black;
}

/* Section with 4 divs */
/* ********************************** */
.top-news {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 25px;
  color: black;
  font-size: 35px;
  font-weight: 600;
}

#card-section {
  border: 1px solid black;
}

#cards {
  border: 1px solid rgb(0, 0, 0);
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-card-btn {
  width: 150px;
  position: relative;
  bottom: -95px;
  border-radius: 5px;
  height: 40px;
  color: #ffffff;
  background-color: #3ed2f7;
  border: none;
}
.reg-card-btn:hover {
  background-color: rgb(5, 141, 151);
}

/* Form and its parts */
/* ***************************** */

.form {
  margin-top: 250px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.myBtn {
  width: 150px;
  border-radius: 5px;
  font-weight: 500;
  height: 40px;
  color: #ffffff;
  background-color: #3ed2f7;
  border: none;
}

.myBtn:hover {
  background-color: #3ed2a1f7;
  transition-duration: 200ms;
  color: #6d6c6cb4;
}

/* media queries */
/* ***************************** */

@media (max-width: 770px) {
  .newsSection {
    flex-direction: column;
  }
  .news {
    width: 100%;
  }
}

@media (max-width: 476px) {
  .mainheading {
    font-size: 3.5rem;
  }
}
@media (max-width: 350px) {
  .mainheading {
    font-size: 2.6rem;
  }
}
